body {
  font-size: 20px;
}

.navbar {
  margin-bottom: 25px;
}

.card {
  margin-bottom: 25px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 15px;
}

.signin-btn {
  margin: 30px 0 0 0;
}

.signup-btn {
  margin: 30px 0 0 0;
}

.product-btn {
  margin: 20px 0 0 0;
}