<div class="row">
  <div class="col-sm-6 sol-md-4 col-md-offset-4 col-sm-offset-3">
    <h1>Checkout</h1>
    <br>
    <h4>Your Total: ${{total}}</h4>
  </div>
</div>

<!-- Stripe v3 markup -->
<form action="/charge" method="post" id="payment-form"> <!-- /charge -->
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>
  </div>
  <!-- / Stripe -->

  <input type="submit" class="submit" value="Submit Payment">
</form>

<!-- <form id="payment-form" class="" action="/checkout" method="post">
  <br>
  <div class='form-row'>
    <div class='form-group col-md-8'>
      <label for="name-input" class='control-label'>Name on Card</label>
      <input type="text" id="name-input" class="form-control" placeholder="Name on Card">
    </div>

  </div>
  <div class='form-row'>
    <div class='form-group col-md-8'>
      <label for="card-number" class='control-label'>Card Number</label>
      <input id="card-number" class='form-control card-number' placeholder="Card Number" type='password'>
    </div>
  </div>
  <div class='form-row'>
    <div class='form-group col-md-8'>
      <label for="billing-address" class='control-label'>Billing Address</label>
      <input id="billing-address" autocomplete='off' class='form-control' placeholder="Billing Address" type='text'>
    </div>
  </div>
  <div class='form-row'>
    <div class='form-group cvc col-md-3'>
      <label for="cvc-number" class='control-label'>CVC</label>
      <input id="cvc-number" autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' type='text'>
    </div>


    <div class='form-group col-md-2'>
      <label for="expiration-date" class='control-label'>Expiration</label>
      <div id="expiration-date">
        <!-- Stripe Element inserted here -->
      <!-- </div> -->
      <!-- <input id="expiration-date" class='form-control card-expiry-month' placeholder='MM' type='text'> -->
    <!-- </div> -->


    <!-- <div class='form-group expiration col-md-3'>
      <label for="expiration-year" class='control-label'>Year</label>
      <input id="expiration-year" class='form-control card-expiry-year' placeholder='YYYY' type='text'>
    </div>
  </div>


  <div class='form-row'>
    <div class='form-group'>
      <label class='control-label'></label>

      <button class='form-control btn btn-dark' type='submit'> Continue →</button>

</form> -->

</div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="javascripts/checkout.js"></script>


<script type="text/javascript">
var stripe = Stripe('pk_test_Hc6Yu7DPQr0FszXslAuv9C2W');
var elements = stripe.elements();

// Customizing Card Elements  when creating component
var card = elements.create('card', {
  'style': {
    'base': {
      'fontFamily': 'Century Gothic, sans-serif',
      'fontSize': '13px',
      'fontSmoothing': 'antialiased',
      'color': '#C1C7CD',
      'iconColor': '#000',
    },
    '::placeholder': {
      color: '#ccc',
    },
    'invalid': {
      'color': 'red',
    },
  }
});

// Add an instance of the card UI component into the `card-element` <div>
card.mount('#card-element');

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

function createToken() {
  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
};

// Create a token when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(e) {
  e.preventDefault();
  createToken();
});

// Handle Event & Errors
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});
</script>
