{{# each products }}
  Product!
{{/each}}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="https://i2.wp.com/pokemongoden.com/wp-content/uploads/2016/07/Pokemon-Special-Move-DPS-Mewtwo.png?resize=250%2C250" class="card-img-top" alt="Card image cap" alt="...">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <h6 class="card-subtitle">Title</h6>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quibusdam distinctio voluptatibus reprehenderit quasi repudiandae deserunt. Numquam accusamus repellendus mollitia natus suscipit aliquid? Culpa commodi unde fugit eveniet consequatur dolorem.</p>
        <div class="clearfix">
          <div class="price pull-left">$24</div>
          <a href="#" class="btn btn-dark pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="https://pbs.twimg.com/profile_images/639280074114510848/UVeQR9D-.png" class="card-img-top" alt="Card image cap" alt="...">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <h6 class="card-subtitle">Title</h6>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quibusdam distinctio voluptatibus reprehenderit quasi repudiandae deserunt. Numquam accusamus repellendus mollitia natus suscipit aliquid? Culpa commodi unde fugit eveniet consequatur dolorem.</p>
        <div class="clearfix">
          <div class="price pull-left">$24</div>
          <a href="#" class="btn btn-dark pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="https://vignette.wikia.nocookie.net/project-pokemon/images/3/3e/250px-034Nidoking.png/revision/latest?cb=20170513051346" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <h6 class="card-subtitle">Title</h6>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quibusdam distinctio voluptatibus reprehenderit quasi repudiandae deserunt. Numquam accusamus repellendus mollitia natus suscipit aliquid? Culpa commodi unde fugit eveniet consequatur dolorem.</p>
        <div class="clearfix">
          <div class="price pull-left">$24</div>
          <a href="#" class="btn btn-dark pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="https://vignette3.wikia.nocookie.net/pokemon-planet/images/a/a3/Pokemon_Lapras.png/revision/latest?cb=20150920122707" class="card-img-top" alt="Card image cap" alt="...">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <h6 class="card-subtitle">Title</h6>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quibusdam distinctio voluptatibus reprehenderit quasi repudiandae deserunt. Numquam accusamus repellendus mollitia natus suscipit aliquid? Culpa commodi unde fugit eveniet consequatur dolorem.</p>
        <div class="clearfix">
          <div class="price pull-left">$24</div>
          <a href="#" class="btn btn-dark pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="https://vignette.wikia.nocookie.net/project-pokemon/images/5/56/Starmie.png/revision/latest?cb=20170202055618" class="card-img-top" alt="Card image cap" alt="...">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <h6 class="card-subtitle">Title</h6>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quibusdam distinctio voluptatibus reprehenderit quasi repudiandae deserunt. Numquam accusamus repellendus mollitia natus suscipit aliquid? Culpa commodi unde fugit eveniet consequatur dolorem.</p>
        <div class="clearfix">
          <div class="price pull-left">$24</div>
          <a href="#" class="btn btn-dark pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="https://happykatana.files.wordpress.com/2015/08/250px-009blastoise.png" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Title</h3>
        <h6 class="card-subtitle">Title</h6>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quibusdam distinctio voluptatibus reprehenderit quasi repudiandae deserunt. Numquam accusamus repellendus mollitia natus suscipit aliquid? Culpa commodi unde fugit eveniet consequatur dolorem.</p>
        <div class="clearfix">
          <div class="price pull-left">$24</div>
          <a href="#" class="btn btn-dark pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
