{{# each products }}
  <div class="row">
    {{# each this }}
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img src="{{ this.imagePath }}" class="card-img-top " alt="...">
      <div class="card-body">
        <h3 class="card-title">{{ this.title }}</h3>
        <h6 class="card-subtitle">Subtitle</h6>
        <p class="description">{{ this.description }}</p>
        <div class="clearfix">
          <div class="price pull-left">${{ this.price }}.00 + Free Shipping in the US</div>
          <a href="#" class="btn btn-dark pull-right" role="button">Add to Shopping Cart</a>
        </div>
      </div>
    </div>
    </div>
    {{/each}}
  </div>
{{/each}}
